@page
@model NewExerciseLog.UI.Pages.SignUp.IndexModel
@{
}

<title>Sign Up Page</title>

<h1>This is the Sign Up page.</h1>

<a asp-area="" asp-page="/HomePage/Index">Home</a>

<div class="sign_in_box">
    <div>
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" />
    </div>

    <div>
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" />
    </div>

    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" />
    </div>


    <button>Sign Up</button>
    <button>Go Back</button>

</div>