html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#div1 {
    width: 50%;
}

#div2 {
    width: 40%;
    float: left;
}

#div3 {
    margin-left: 50%;
    width: 40%
}

#entries-table th, td {
    border: 1px solid black;
}

#entries-table tr {
    padding: 20px;
}
#entries-table {
    style ="width:100%"
}

#goal-table, #goal-table th, td {
    border: 1px solid black;
    padding: 5px;
}

.sign_in_box {
    width: 50%;
}

.background-container {
    height: 800px;
    width: 1110px;
    background-size: 100% 100%;
    background-image: url('https://media.istockphoto.com/id/1158033187/photo/white-sheet-of-paper-for-copy-space-plastic-dumbbells-on-purple-background-creative-fitness.jpg?s=170667a&w=0&k=20&c=IWcQuCb3_tlNu-7R5zu2b_ON67PMzVIWrWo-GOKrv8g=');
    padding-top: 235px;
    padding-bottom: 170px;
    padding-right: 546px;
    padding-left: 115px;
}

.content-section {
    
}

#main-page-content {
    vertical-align: middle;
    padding-top: 50px;
    text-align: center;
}