@page
@model NewExerciseLog.UI.Pages.SignIn.IndexModel
@{
}

<title>Sign In Page</title>

<h1>This is the Sign In page.</h1>

<a asp-area="" asp-page="/HomePage/Index">Home</a>

<div class="sign_in_box">
    <div class="sign_in_box_row">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" />
    </div>
    <div class="sign_in_box_row">
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" />
    </div>
    <button>Log In</button>
    <button>Sign Up</button>
</div>