@page
@model NewExerciseLog.UI.Pages.ViewStats.IndexModel
@{
}

<title>Statistics Page</title>

<h1>This is the Statistics page.</h1>

<table>
	<tr>
		<th>Exercise</th>
		<th>Total (minutes)</th>
		<th>Total (%)</th>
	</tr>
	<tr>
		<td>Running</td>
		<td>27/60 Minutes</td>
		<td>45%</td>
	</tr>
	<tr>
		<td>Biking</td>
		<td>68/120 Minutes</td>
		<td>57%</td>
	</tr>
	<tr>
		<td>Skateboarding</td>
		<td>30/90 Minutes</td>
		<td>33%</td>
	</tr>
</table>
 <br />

<a href="/Log/Entries" class="btn btn-primary btn-block">View Entries</a>



<a href="/HomePage/Index" class="btn btn-link"> Go Home</a>

<style>
	table, th, td{
		border: 1px solid black;
	}
</style>
<!--I KNOW! I KNOW! this will change soon-->