@page
@model NewExerciseLog.UI.Pages.ViewStats.IndexModel
@{
}

<title>Statistics Page</title>

<h1>This is the Statistics page.</h1>

all worlk and no play makes hohny a duill boy<br />
 all work and no play makes johny a dull boy<br />	
 all work and no play amkes johny a dull boy <br />
 allworoka and no play makes johny a dull boy <br />
 all work and no plasy makes johnyu as duill bopy al <br /> 
 all worlk and nop play makes johny an dull boy <br />

 <br />
<a href="/HomePage/Index" class="btn btn-primary"> Go Back</a>