@page
@model NewExerciseLog.UI.Pages.Users.HomePageModel
@{
}
<script>
	document.getElementById("userIdDisplay").innerHTML = 
</script>
<title>Home Page</title>
<h1>This is the Home Page</h1>
<h2>User is <span id="userIdDisplay"></span></h2>


<form class="row g-3">
	
	<div class="col-12">
		<a href="/Entries/AddEntry" class="btn btn-primary btn-block">Add Log</a>
	</div>
	<div>
		<a href="/Entries/ViewEntries" class="btn btn-primary btn-block">View Entries</a>
	</div>

	<div>
		<table>
			<tr>
				<th>Exercise</th>
				<th>Goal</th>
				<th>Total</th>
			</tr>
			@foreach (var obj in Model.goals)
			{
				<tr>
					<td>@obj.Exercise</td>
					<td>@obj.Goal</td>
					<td>@obj.Total</td>
				</tr>
			}

		</table>
	</div>
	

	<div>
		<a href="/ExerciseGoals/UpdateExerciseGoals" class="btn btn-primary btn-block">change goal</a>
	</div>

	<a href="/Users/UserSignIn" class="btn btn-link"> Sign Out</a>
	
</form>

<style>
	table, th, td{
		border: 1px solid black;
		padding: 5px;
	}
</style>

