@page
@model NewExerciseLog.UI.Pages.Users.NewUserModel
@{
}

<script type="text/javascript">


    function validateInput() {


        var isValid = true;
        var userName = document.getElementById("inputUserName");
        var firstName = document.getElementById("inputFirstName");
        var lastName = document.getElementById("inputLastName");
        var password = document.getElementById("inputPassword");

        document.getElementById("UserNameError").innerHTML = "";
        document.getElementById("FirstNameError").innerHTML = "";
        document.getElementById("LastNameError").innerHTML = "";
        document.getElementById("PasswordError").innerHTML = "";



        if (userName.value == "") {
            isValid = false;
            document.getElementById("UserNameError").innerHTML = "UserNameError.";
        }
      
        if (firstName.value == "") {
            isValid = false;
            document.getElementById("FirstNameError").innerHTML = "FirstNameError.";
        }

        if (lastName.value == "") {
            isValid = false;
            document.getElementById("LastNameError").innerHTML = "FirstNameError.";
        }

        if (password.value == "") {
            isValid = false;
            document.getElementById("PasswordError").innerHTML = "FirstNameError.";
        }

        return isValid;
    }

    //
</script>

<title>Sign Up Page</title>

<h1>Sign Up</h1>
<div class="background-container">
    <div class="content-section">

        <form method="post">
            <div class="content_box">

                <div>
                    <label for="inputUserName">Username:</label>
                    <input type="text" class="form-control" id="inputUserName" asp-for="NewUser.UserName" />
                    <span asp-validation-for="NewUser.UserName" class="text-danger" id="UserNameError">@Model.ServerSideUsernameError</span> 
          
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstName">First Name:</label>
                        <input type="text" class="form-control" id="inputFirstName" asp-for="NewUser.FirstName" />
                        <span asp-validation-for="NewUser.FirstName" class="text-danger" id="FirstNameError"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputLastName">Last Name:</label>
                        <input type="text" class="form-control" id="inputLastName" asp-for="NewUser.LastName" />
                        <span asp-validation-for="NewUser.LastName" class="text-danger" id="LastNameError"></span>
                    </div>

                </div>


                <div>
                    <label for="inputPassword"> Password:</label>
                    <input type="text" class="form-control" id="inputPassword" asp-for="NewUser.UserPasswordHash" />
                    <span asp-validation-for="NewUser.UserPasswordHash" class="text-danger" id="PasswordError"></span>

                </div>

                <!--check out getbootstrap.com/docs/5.3/forms/layout/   to maybe get a better layout going-->


                <button type="submit" class="btn btn-primary" onclick="return validateInput()">Sign Up!</button>
                <a href="UserSignIn" class="btn btn-link">Go Back</a>

            </div>
        </form>
    </div>
</div>
