@page
@model NewExerciseLog.UI.Pages.Users.NewUserModel
@{
}

<script type="text/javascript">
    function validateInput() {
        var isValid = true;
        var userName = document.getElementById("inputUserName");
        var firstName = document.getElementById("inputFirstName");
        var lastName = document.getElementById("inputLastName");
        var passwordHash = document.getElementById("inputPassword");

        if (userName.value == "") {
            isValid = false;
            document.getElementById("UserNameError").innerHTML = "UserNameError.";
        }

        if (firstName.value == "") {
            isValid = false;
            document.getElementById("FirstNameError").innerHTML = "FirstNameError.";
        }


        if(isValid){
            document.getElementById("PasswordError").innerHTML = "its valid";
        }

        return isValid;
    }

    //
</script>

<title>Sign Up Page</title>

<h1>This is the Sign Up page.</h1>

<form method="post">
    <div class="sign_in_box" style="width:50%;">

        <div>
            <label for="inputUserName" >Username:</label>
            <input type="text" class="form-control" id="inputUserName" asp-for="NewUser.UserName" />
            <span asp-validation-for="NewUser.UserName" class="text-danger" id="UserNameError"></span>
        </div>

        <div>
            <label for="inputFirstName">First Name:</label>
            <input type="text" class="form-control" id="inputFirstName" asp-for="NewUser.FirstName" />
            <span asp-validation-for="NewUser.FirstName" class="text-danger" id="FirstNameError"></span>

        </div>

        <div>
            <label for="inputLastName" >Last Name:</label>
            <input type="text" class="form-control" id="inputLastName" asp-for="NewUser.LastName" />
            <span asp-validation-for="NewUser.LastName" class="text-danger" id="LastNameError"></span>

        </div>

        <div>
            <label for="inputPassword" > Password:</label>
            <input type="text" class="form-control" id="inputPassword" asp-for="NewUser.UserPasswordHash" />
            <span asp-validation-for="NewUser.UserPasswordHash" class="text-danger" id="PasswordError"></span>

        </div>

        <!--check out getbootstrap.com/docs/5.3/forms/layout/   to maybe get a better layout going-->


        <button type="submit" class="btn btn-primary" onclick="return validateInput()">Sign Up!</button>
        <a href="/UserSignIn" class="btn btn-link">Go Back</a>

    </div>
</form>