@page
@model NewExerciseLog.UI.Pages.Users.SignInModel
@{
}


<title>Sign In Page</title>

<h1>This is the Sign In page.</h1>


<div class="sign_in_box">
    <div class="sign_in_box_row">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" />
    </div>
    <div class="sign_in_box_row">
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" />
    </div>
    <a href="/HomePage/Index" class="btn btn-primary" >Log In</a>
    <a href="/Users/SignUp" class="btn btn-link" >Sign Up</button>
</div>