@page
@model NewExerciseLog.UI.Pages.Users.UserSignInModel
@{
}

<script type="text/javascript">
    function validateInput() {
        var isValid = true;
        var userName = document.getElementById("inputUserName");
        var password = document.getElementById("inputPassword");
       
        if(userName.value === ""){
            isValid = false;
            document.getElementById("UserNameError").innerHTML = "UserNameError.";
        }

        if (password.value === "") {
            document.getElementById("PasswordError").innerHTML = "Password Error.";
            isValid = false;
        }

        return isValid;
    }

        //
</script>


<title>Sign In Page</title>

<h1>Sign In</h1>
<div class="background-container">
    <div class="content-section">
        <form method="post">
            <div class="content_box">

                <div>
                    <label for="inputUserName">Username:</label>
                    <input type="text" class="form-control" id="inputUserName" asp-for="SignInUser.UserName"/>
                    <span asp-validation-for="SignInUser.UserName" class="text-danger" id="UserNameError"></span>

                </div>

                <div class="sign_in_box_row">
                    <label for="inputPassword">Password:</label>
                    <input type="text" class="form-control" id="inputPassword" asp-for="SignInUser.UserPasswordHash" />  
                    <span asp-validation-for="SignInUser.UserPasswordHash" class="text-danger" id="PasswordError">@Model.ServerSidePasswordError</span>
                </div>

    
                <button type="submit" class="btn btn-primary" onclick="return validateInput()">Log in!</button> <!-- goes to homepage if valid-->

                <a href="NewUser" class="btn btn-link">Sign Up</a>
            </div>
        </form>
    </div>
</div>