@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    <div class="background-container">
        <div class="content-section" id="main-page-content">
            <h2>Welcome to the Exercise Log</h2>
            <br />
            <!--a button for sign in-->
            <a asp-page="/Users/UserSignIn" class="btn btn-primary"> sign in</a>
            <!--a button for sign up-->
            <a href="Users/NewUser" > sign up</a>
        </div>
    </div>
</div>


