@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    <li><a asp-area="" asp-page="/AddLog/Index">AddLog</a></li>
    <li><a asp-area="" asp-page="/ViewStats/Index">ViewStats</a></li>
    <li><a asp-area="" asp-page="/Users/SignIn">/Users?SignIn</a></li>
    <li><a asp-area="" asp-page="/Users/Add">/User/Add</a></li>
	<li><a asp-area="" asp-page="/HomePage/Index">/HomePage/Index</a></li>

</ul>
