@page
@model NewExerciseLog.UI.Pages.Entries.AddEntryModel
@{
    Layout = "/Pages/Shared/Signed-in.cshtml";
}
<script type="text/javascript">
    function validateInput(){
        var isValid = true;

        var minutes = document.getElementById("input-minutes");
        var hours = document.getElementById("input-hours");
        var exercise = document.getElementById("input-exercise").value;
        var stringDate = document.getElementById("input-date").toString();


        if(hours.value == 0 && minutes.value == 0){
            isValid = false;
            document.getElementById("Error").innerHTML = "Cannot have an entry of zero";
        }


       


        return isValid;
    }    

</script>

<title>Add Entry Page</title>

<h1>Add an Entry.</h1>
<div class="background-container">
    <div class="content-section">
        <form method="post">
            <div id="div1" class="content_box">
                <div>

                    <label for="input-exercise">Exercise:</label>
                    <select name="exercise" id="input-exercise" asp-items=@Model.exercises asp-for="exeId" onchange="updateDate()" >
                
                

                    </select>
                </div>

                <div id="div2">
                    <label for="input-hours">Hours:</label>
                    <input type="number" class="form-control" id="input-hours" value="0" asp-for="NewEntry.HoursExercised" min=0 max=60/>
                    <span asp-validation-for="NewEntry.HoursExercised"></span>
                </div>

                <div id="div3">
                    <label for="input-minutes">Minutes:</label>
                    <input type="number" class="form-control" id="input-minutes" value="0" asp-for="@Model.NewEntry.MinutesExercised" min=0 max=60/>
                    <span asp-validation-for="NewEntry.MinutesExercised"></span>
                </div>

                <div>                                                                                         <!-- from the forums on html syntax         from the error response    -->
                    <label for="input-date">Date:</label>                                                            <!-- min="2011-02-20T20:20"       max="12/31/9999 11:59:59 PM"       -->                    
                    <input type="datetime-local" class="form-control" id="input-date" asp-for="@Model.NewEntry.EntryDate" min="2011-02-20T20:20"   max="2032-02-20T20:20" value="2023-04-09T12:30"/>
                    <span asp-validation-for="NewEntry.EntryDate"></span>
                </div>

                <br />
        
        

                <!--update these ^^^^-->
                <!--vv updated vv-->
                <span class="text-danger" id="Error"> </span>
                <button type="submit" asp-route-id=@Model.currentUser.UserId class="btn btn-primary" onclick="return validateInput()">Add Entry!</button>
                <a asp-page="/Users/HomePage" asp-route-id=@Model.currentUser.UserId class="btn btn-link"> Go Home</a>
            </div>
        </form>
    </div>
</div>