@page
@model NewExerciseLog.UI.Pages.ExerciseGoals.AddExerciseGoalModel
@{
}

<title>Exercise Goals Page</title>

<h1>This is the Exercise Goals Page.</h1>


<form method="post">
    <fieldset>
        <legend>What Exercises would you like to include in your plan?</legend>
        <input type="checkbox" name="Exercise" value="Running">Running
        <br>
        <input type="checkbox" name="Exercise" value="Walking">Walking
        <br>
        <input type="checkbox" name="Exercise" value="Biking">Biking
        <br>
        <input type="checkbox" name="Exercise" value="Skateboarding">Skateboarding
        <br>
        <a href="UpdateExerciseGoals" class="btn btn-primary">Next</a>
        <a href="/Users/HomePage" class="btn btn-link">cancel</a>


    </fieldset>
</form>
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
     <div class=" row mb-3">
         <label for="inputUserID" class=" col-sm-2 col-form-label" asp-for="User.UserID"></label>
         <div class="col-sm-10">
           <input type= "text" class="form-control" id="inputUserName" asp-for="User.UserName" />
           <span asp-validation-for="User.UserName" class="text-danger" id="UserNameError"></span>
           </div>
        </div>

<!----> look at add author page update with a real button(cancel next(boot strap)(code regarding submit form )