@page
@model NewExerciseLog.UI.Pages.ExerciseGoals.UpdateExerciseGoalsModel
@{
	Layout = "/Pages/Shared/Signed-in.cshtml";
}



<script type="text/javascript">
	
	function validateInput(){
		
		var isValid = true;
		var hours = document.getElementById("input-hours").value;
		var minutes = document.getElementById("input-minutes").value;
		var hourErr = document.getElementById("hours-error");
		var minErr = document.getElementById("minutes-error");
		var spaniard = document.getElementById("spaniard");

		if(hours== 0 && minutes == 0){
			isValid = false;
			spaniard.innerHTML = "Cannot set a goal of zero";
		}
	
		return isValid;
	}
	
</script>
<div class="background-container">
	<div class="content_box">
		<form method="post">
			<title>Exercise-Time Goals Page</title>
	
			@foreach(var obj in Model.Goals){
			<h1 id="head">
				Update goal for @obj.ExerciseName 
			</h1>
			}

			<table>
		
				<tr>
					<td>
						<label for="input-hours">Hours:</label>
						<input class="form-control" asp-for="Hours" type="number" id="input-hours" min="0" max="20" />
					</td>
					<td>
						<span asp-validation-for="Hours" id="hours-error"></span>
					</td>	
		
					<td>
						<label for="input-minutes">Minutes:</label>
						<input class="form-control" asp-for="Minutes" type="number" id="input-minutes" min="0" max="59" />
					</td>
					<td>
						<span asp-validation-for="Minutes" id ="minutes-error"></span>
					</td>
				</tr>
		
		
			</table>

	
			<button type="submit" class="btn btn-primary" onclick="return validateInput()">Update!</button>

			<a asp-page="/Users/HomePage" asp-route-id="@Model.ID" class="btn btn-link">back home</a>

			<br />
	

		</form>
	</div>
</div>
