@page
@model NewExerciseLog.UI.Pages.ExerciseGoals.UpdateExerciseGoalModel
@{
}

namespace NewExerciseLog.UI.Pages.ExerciseGoals
{
   public class UpdateExerciseGoalModel
}

<title>Exercise-Time Goals Page</title>

<h1>This is the Exercise-Time Goals Page.</h1>
<div style="width:50%;">
	div>
	<div style="border-style:solid; border-width:2px; border-color:blue">
		<h2>Running:</h2>
		<label for="running-hours">Hours:</label>
		<input type="number" id="running-hours" min="0" max="20" />
		<label for="running-minutes">Minutes:</label>
		<input type="number" id="running-minutes" min="0" max="59" />
	</div>
	<div style="border-style:solid; border-width:2px; border-color:blue">
		<h3>Walking:</h3>
		<label for="walking-hours">Hours:</label>
		<input type="number" id="walking-hours" min="0" max="20" />
		<label for="walking-minutes">Minutes:</label>
		<input type="number" id="walking-minutes" min="0" max="59" />
	</div>
	<div style="border-style:solid; border-width:2px; border-color:blue">

		<h3>Biking:</h3>
		<label for="biking-hours">Hours:</label>
		<input type="number" id="biking-hours" min="0" max="20" />
		<label for="biking-minutes">Minutes:</label>
		<input type="number" id="biking-minutes" min="0" max="59" />
	</div>
	<div style="border-style:solid; border-width:2px; border-color:blue">
		<h3>Skateboarding:</h3>
		<label for="skateboarding-hours">Hours:</label>
		<input type="number" id="skateboarding-hours" min="0" max="20" />
		<label for="skateboarding-minutes">Minutes:</label>
		<input type="number" id="skateboarding-minutes" min="0" max="59" />
	</div>
</div>

<a href="/Users/HomePage" class="btn btn-primary">Update!</a>

<a href="/Users/HomePage" class="btn btn-link">back home</a>

namespace NewExerciseLog.UI.Pages.ExerciseGoals : PageModel