@page
@model NewExerciseLog.UI.Pages.AddLog.IndexModel
@{
}


<title>Add Entry Page</title>

<h1>This is the Add Entry page.</h1>

<a asp-area="" asp-page="/HomePage/Index">Home</a>

<div>
    <div>
        <label for="exercise">Exercise:</label>
        <input type="text" class="form-control" id="exercise" />
    </div>

    <div>
        <label for="hours">Hours:</label>
        <input type="int" class="form-control" id="hours" />
    </div>

    <div>
        <label for="minutes">Minutes:</label>
        <input type="int" class="form-control" id="minutes" />
    </div>

    <div>
        <label for="date">Date:</label>
        <input type="text" class="form-control" id="date" value="fix this"/>
    </div>

    <button>Add entry</button>
    <button>Go Back</button>

</div>