@page
@model NewExerciseLog.UI.Pages.Log.EntriesModel
@{
}

<title>Entries Page</title>
<h1>This is the Entries Page</h1>

<table>
	<tr>
		<th>Date Time</th>
		<th>Exercise</th>
		<th>Time(hh:mm)</th>
	</tr>
	<tr>
		<td>3-22-23 1:00 PM</td>
		<td>Running</td>
		<td>00:10</td>
	</tr>
	<tr>
		<td>3-22-23 2:00 PM</td>
		<td>Running</td>
		<td>00:10</td>
	</tr>
	<tr>
		<td>3-22-23 3:00 PM</td>
		<td>Running</td>
		<td>00:07</td>
	</tr>
	<tr>
		<td>3-26-23 12:00 PM</td>
		<td>Biking</td>
		<td>01:00</td>
	</tr>
	<tr>
		<td>3-27-23 10:00 AM</td>
		<td>Skateboarding</td>
		<td>00:30</td>
	</tr>
	<tr>
		<td>3-27-23 11:00 AM</td>
		<td>Biking</td>
		<td>00:30</td>
	</tr>

</table>

<a href="/ViewStats/Index" class="btn btn-primary btn-block">View Stats</a>

<a href="/HomePage/Index" class="btn btn-link"> Go Home</a>

<style>
	table, th, td {
		border: 1px solid black;
	}
</style>