@page
@model NewExerciseLog.UI.Pages.Log.SettingsModel
@{
}

<title>Settings Page</title>

<h1>This is the Settings Page.</h1>

<p1>Your current weekly goals:</p1>
<ul>
	<li>Running: 1 hour</li>
	<li>Biking: 2 hours </li>
	<li>Skateboarding: 1 hour, 30 minutes</li>
</ul>

<a href="/Log/ExerciseList" class="btn btn-primary"> Update Goals</a>
<br />
<br />

<a href="/HomePage/Index" class="btn btn-link"> Go Home</a>


<a href="/Users/SignIn" class="btn btn-link"> Sign Out</a>