@page
@model NewExerciseLog.UI.Pages.Start.IndexModel
@{
}

<title>Start Page</title>

<h1>This is the Start page.</h1>

<h2>I actually think we should frop this page. and only allow for manual entries. </h2>