@page
@model NewExerciseLog.UI.Pages.HomePage.IndexModel
@{
}
<title>Home Page</title>
<h1>This is the Home Page</h1>

<div class="ui-box" style="background-color: lightblue"> <!-- change eveerything in here to be the 12 point box thing -->
	<div class="ui-box"> 
		Start button goes here
		Add Log button goes here, should be in line
	</div>
	<div>
		View Data
	</div>
	<div>
		Settings
	</div>
</div>
