@page
@model NewExerciseLog.UI.Pages.HomePage.IndexModel
@{
}
<title>Home Page</title>
<h1>This is the Home Page</h1>

<div class="ui-box" style="background-color: lightblue"> <!-- change eveerything in here to be the 12 point box thing -->
	<div class="ui-box"> 
		Start button goes here
		Add Log button goes here, should be in line
	</div>
	<div>
		View Data
	</div>
	<div>
		Settings
	</div>
</div>

<form class="row g-3">
  <div class="col-12">
		<a href="/Log/Add" class="btn btn-primary btn-block">Add Log</a>
  </div>
  <div class="col-12">
		<a href="/ViewStats/Index" class="btn btn-primary btn-block">View Stats</a>
  </div>
  <div class="col-12">
		<a href="/Log/Settings" class="btn btn-primary btn-block">Settings</a>
	</div>
</form>
