@page
@model NewExerciseLog.UI.Pages.HomePage.IndexModel
@{
}
<title>Home Page</title>
<h1>This is the Home Page</h1>


<form class="row g-3">
	<div class="col-12">
		<a href="/Log/Add" class="btn btn-primary btn-block">Add Log</a>
	</div>
	<div class="col-12">
		<a href="/ViewStats/Index" class="btn btn-primary btn-block">View Stats</a>
	</div>
	<div>
		<a href="/Log/Entries" class="btn btn-primary btn-block">View Entries</a>
	</div>
	<div>
		<a href="/Log/Settings" class="btn btn-primary btn-block">Settings</a>
	</div>
	<a href="/Users/SignIn" class="btn btn-link"> Sign Out</a>
</form>
